<div class="modal-header">

    <div class="hbox" style="align-items: center">
        <h3 class="modal-title" style="flex: 1">Advanced Graph Application</h3>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default" title="Save advanced graph application" (click)="saveGraph()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button class="btn btn-default" title="Load advanced graph application" (click)="loadGraph()">
                    <span class="glyphicon glyphicon-floppy-open"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<div class="modal-body vbox scrollableContainer">
    <div class="panel panel-default" style="margin-top: 4px;">
        <div class="panel-heading">
            <label style="flex: 1">Nodes</label>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default" (click)="addNode()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" (click)="removeNode()" [disabled]="!selectedNode || selectedNode.readonly">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body table-responsive" style="min-height: 60px; max-height: 100px;">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Node ID</th>
                        <th>Converter type</th>
                        <th>Converter URI</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let n of alreadyDefinedNodes" (click)="selectNode(n)" [ngClass]="{ info : n == selectedNode }">
                        <td class="grayText">{{n.nodeId}}</td>
                        <td class="grayText">{{n.converter?.type}}</td>
                        <td class="grayText">{{n.converter?.contractUri}}</td>
                        <td class="grayText">
                            <span *ngIf="n.converter?.language; else dtBlock">
                                <label style="white-space: pre">Lang: </label>{{n.converter.language}}
                            </span>
                            <span #dtBlock *ngIf="n.converter?.datatypeUri">
                                <label style="white-space: pre">Datatype: </label>{{getDatatypeShow(n.converter.datatypeUri)}}
                            </span>
                        </td>
                    </tr>
                    <tr *ngFor="let n of newDefinedNodes" (click)="selectNode(n)" [ngClass]="{ info : n == selectedNode }">
                        <td>{{n.nodeId}}</td>
                        <td>{{n.converter?.type}}</td>
                        <td nowrap>
                            {{n.converter?.contractUri}}
                            <button *ngIf="n.converter?.type == 'uri'" class="btn btn-xs btn-default" (click)="changeUriConverter(n)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                        <td nowrap>
                            <span *ngIf="n.converter?.language; else dtBlock">
                                <label style="white-space: pre">Lang: </label>
                                {{n.converter.language}}
                                <button *ngIf="n.converter?.type == 'literal'" class="btn btn-xs btn-default" (click)="changeLiteralConverter(n)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </span>
                            <span #dtBlock *ngIf="n.converter?.datatypeUri">
                                <label style="white-space: pre">Datatype: </label>{{getDatatypeShow(n.converter.datatypeUri)}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top: 4px;">
        <div class="panel-heading">
            <label style="flex: 1">Graph</label>
        </div>
        <div class="panel-body vbox">

            <div class="subPanel" style="margin-top: 4px;">
                <div class="subPanel-heading">
                    <label style="flex: 1">Prefix-Namespace mappings</label>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-default" (click)="addMapping()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-default" (click)="removeMapping()" [disabled]="!selectedMapping">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div #prefixnstable class="subPanel-body table-responsive" style="min-height: 60px; max-height: 100px;">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Prefix</th>
                                <th>Namespace</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of globalPrefixMappings" class="" class="grayText" style="cursor: not-allowed">
                                <td>{{m.prefix}}</td>
                                <td>{{m.namespace}}</td>
                            </tr>
                            <tr *ngFor="let m of localPrefixMappings" (click)="selectMapping(m)" style="cursor: pointer" [ngClass]="{ info: m == selectedMapping }">
                                <td>{{m.prefix}}</td>
                                <td>{{m.namespace}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="subPanel vbox" style="margin-top: 4px;">
                <div class="subPanel-heading">
                    <label style="flex: 1">Graph pattern</label>
                </div>
                <div class="subPanel-body vbox">
                    <div class="alert alert-info alert-dismissible alert-multiline" style="margin-bottom: 5px;">
                        The graph pattern must contain only node IDs already defined in any header.<br>
                        It could also contains a <span style="font-family: monospace;" ngNonBindable>{{pred}}</span>
                        placeholder that will be replaced with the predicate of the header. 
                        In case the <span style="font-family: monospace;" ngNonBindable>{{pred}}</span> is used in the pattern,
                        a default predicate <strong>must</strong> be provided as fallback when the header does not represent any valid predicate.
                        <button class="close" data-dismiss="alert"><span>&times;</span></button>
                    </div>
                    <textarea class="form-control input-sm" style="resize: vertical" rows="5" [(ngModel)]="graphPattern"></textarea>
                </div>
                <div class="subPanel-footer">
                    <div class="hbox" style="align-items: center">
                        <label style="margin-right: 4px;">Default predicate:</label>
                        <resource-picker [resource]="defaultPredicate" roles="property" size="xs"
                            (resourceChanged)="updateDefaultPredicate($event)" style="flex: 1">
                        </resource-picker>
                        <span class="glyphicon glyphicon-info-sign" style="margin-left: 4px" 
                            title="If the graph pattern contains the 'pred' placeholder this predicate is mandatory, otherwise it will be ignored">
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>