<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div *ngIf="context.message" class="alert alert-info" style="margin-bottom: 5px">
        {{context.message}}
    </div>
    <div class="hbox" style="align-items: center;">
        <div *ngIf="context.label" style="margin-right: 4px;">
            <label>{{context.label.value}}:</label>
            <span *ngIf="context.label.tooltip" class="glyphicon glyphicon-question-sign" [title]="context.label.tooltip"></span>
        </div>
        <input id="toFocus" type="text" class="form-control input-sm" style="flex: 1;" [(ngModel)]="inputTxt"
            (keydown)="onKeydown($event)" [sanitized]="context.inputSanitized">
    </div>
    <div *ngIf="!isInputValid() && !context.inputOptional && submitted" class="alert alert-danger">
        <strong>{{context.label}}</strong> is required
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!context.inputOptional && !isInputValid()">Ok</button>
    <button *ngIf="!context.hideNo" class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>