<div class="hbox" style="flex: initial">

    <div class="subPanel" style="flex: 2; margin-right: 4px;" >
        <div class="subPanel-heading">
            <span style="flex: 1">
                <label>Stored query: </label> {{storedQueryName}}
            </span>
            <button class="btn btn-xs btn-default" (click)="changeStoredQuery()" title="Change stored query">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>
        <div class="subPanel-body">
            <yasgui [query]="query" (querychange)="onQueryChange($event)" [readonly]="true"></yasgui>
        </div>
    </div>

    <div class="vbox">
        <query-param-form class="vbox" [bindings]="parameterization" (update)="onVarBindingsUpdate($event)"
            (paramsChange)="onParametrizationsChange($event)"></query-param-form>
        <div class="hbox" style="margin-top: 4px; align-items: center; flex: initial;">
            <label style="margin-right: 4px;">Description:</label>
            <textarea class="form-control input-sm" style="resize: none" rows="3" [(ngModel)]="description" (ngModelChange)="onDescriptionChange()"></textarea>
        </div>
    </div>

</div>

<!--Commands (submit, clear, inferred, ...)-->
<div style="margin: 5px 0;">
    <button class="btn btn-xs btn-primary" type="button" (click)="doQuery()" [disabled]="queryInProgress || !queryValid">
        Submit
    </button>
    <button class="btn btn-xs btn-info" type="button" (click)="clear()" [disabled]="queryResult == null">Clear</button>
    <div class="hbox" style="align-items: center; display: inline-flex; margin-left: 6px;">
        <div class="hbox" style="align-items: center; display: inline-flex; margin-left: 5px;">
            <label style="margin-right: 2px;">Include inferred:</label>
            <input type="checkbox" [(ngModel)]="inferred">
        </div>
        <div class="dropdown" style="margin-left: 6px;">
            <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown"
                [disabled]="queryResult == null || resultType == 'boolean'">
                Save results as... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="exportAsJSON()">Json</a></li>
                <li><a (click)="exportAsCSV()">CSV</a></li>
                <li><a (click)="exportAsTSV()">TSV</a></li>
                <li><a (click)="exportAsSpradsheet('xlsx')">XLSX (Microsoft spreadsheet)</a></li>
                <li><a (click)="exportAsSpradsheet('ods')">ODS (OpenDocument spreadsheet)</a></li>
                <li *ngIf="resultType=='graph'"><a (click)="exportAsRdf()">RDF format...</a></li>
            </ul>
        </div>
        <span style="display: inline; margin-left: 6px;">
            <span *ngIf="queryResult != null && resultType != 'boolean'">
                Results count: {{queryResult.length}}
            </span>
            <span *ngIf="queryTime">(Done in {{queryTime}})</span>
        </span>
    </div>
    <div class="hbox pull-right" style="align-items: center">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default btn-xs" title="Save parameterized query" (click)="saveConfiguration()" [disabled]="!storedQueryReference">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button class="btn btn-default btn-xs" title="Load parameterized query" (click)="loadConfiguration()">
                    <span class="glyphicon glyphicon-floppy-open"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Query result-->
<div *ngIf="queryResult != null" class="vbox">
    <div class="table-responsive vbox" style="border: 1px solid #ddd; padding: 4px;">
        <table class="table table-striped table-condensed table-hoverable" style="flex: 1">
            <thead>
                <tr>
                    <th *ngFor="let h of headers" style="white-space: nowrap">
                        {{h}}
                        <button *ngIf="resultType != 'boolean'" class="btn btn-xs btn-default" [ngSwitch]="sortOrder" (click)="sortResult(h)">
                            <span class="glyphicon glyphicon-sort-by-alphabet" *ngSwitchCase="h+asc_Order" ></span>
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt" *ngSwitchCase="h+desc_Order"></span>
                            <span class="glyphicon glyphicon-sort" *ngSwitchDefault></span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody style="overflow: auto;">
                <ng-template [ngIf]="resultType != 'boolean'">
                    <ng-template ngFor let-bindings [ngForOf]="queryResult" let-i="index">
                        <ng-template [ngIf]="i >= resultsPage*resultsLimit && i < resultsPage*resultsLimit + resultsLimit"> <!-- paging filter -->
                            <tr>
                                <td *ngFor="let h of headers">
                                    <span *ngIf="bindings[h]" [ngClass]="{ clickable: isBindingResource(bindings[h]) }" (click)="onBindingClick(bindings[h])">
                                        {{getBindingShow(bindings[h])}}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </ng-template>
                </ng-template>
                <ng-template [ngIf]="resultType == 'boolean'">
                    <tr>
                        <td>
                            {{queryResult}}
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>

    <div style="margin-top: 4px;">
        <button *ngIf="isOpenGraphEnabled()" class="btn btn-xs btn-default" (click)="openGraph()">
            <img src="../../assets/images/icons/res/ontology.png" title="See results as graph" width="11px">
        </button>
        <div class="btn-group btn-group-xs pull-right" role="group">
            <button class="btn btn-default" title="Previous page" (click)="resultsPage=resultsPage-1" [disabled]="resultsPage==0">
                <span class="glyphicon glyphicon-triangle-left"></span>
            </button>
            <button class="btn btn-default" style="cursor: auto" disabled>
                <span>{{resultsPage+1}} of {{resultsTotPage}}</span>
            </button>
            <button class="btn btn-default" title="Next page" (click)="resultsPage=resultsPage+1" [disabled]="resultsPage>=resultsTotPage-1">
                <span class="glyphicon glyphicon-triangle-right"></span>
            </button>
        </div>
    </div>

</div>