<div class="modal-header">
    <h3 class="modal-title text-info">Remote Alignment System settings</h3>
</div>
<div class="modal-body vbox">
    
    <div class="hbox" style="align-items: center;">
        <label>Port:</label>
        <input type="number" class="form-control input-sm" style="margin-left: 5px;" [(ngModel)]="remoteSystemPort">
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>