<div class="vbox blockingDivHost">

    <div class="panel panel-default" style="min-height: 90px;">
        <div class="panel-heading">
            <div class="hbox">
                <label style="flex: 1;">Tasks</label>
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default" (click)="createTask()" title="Create Alignment task">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-sm btn-default" (click)="deleteTask()" title="Delete Alignment task" [disabled]="!selectedTask">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                    <button class="btn btn-xs btn-default" (click)="listTask()" title="Refresh tasks list">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button *ngIf="isAdmin" class="btn btn-xs btn-default" (click)="settings()" title="Settings">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-hoverable">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col style="width: 1%">
                </colgroup>
                <thead>
                    <tr>
                        <th>Left</th>
                        <th>Right</th>
                        <th>Status</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks" [ngClass]="{ info: selectedTask }" (click)="selectTask(task)">
                        <td>{{task.leftDataset.projectName}}</td>
                        <td>{{task.rightDataset.projectName}}</td>
                        <td>{{task.status}}</td>
                        <td>{{task.startTime}}</td>
                        <td>{{task.endTime}}</td>
                        <td>
                            <button class="btn btn-xs btn-default" (click)="fetchAlignment(task)" [disabled]="task.status != 'completed'">
                                edit alignment
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <alignment-management style="margin-top: 4px;" *ngIf="alignmentOverview" [overview]="alignmentOverview" [leftProject]="leftProject" [rightProject]="rightProject"></alignment-management>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>