<div class="hbox">
    <div class="subPanel vbox">
        <div class="subPanel-heading">
            <label style="flex: 1;">Users:</label>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default" (click)="addUserToProject()" [disabled]="!project" title="Add user to project">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default" (click)="removeUserFromProject()" 
                    [disabled]="!selectedUser || selectedUser.isAdmin() || !project" title="Remove user from project">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="subPanel-body vbox scrollableContainer" (keydown)="moveUser($event)">
            <div *ngFor="let u of usersBound" class="listItem" [ngClass]="{active: u == selectedUser}" (click)="selectUser(u)">
                <span style="flex: 1">{{u.getShow()}} <span class="grayText">&nbsp;({{u.getEmail()}})</span></span>
                <span *ngIf="u.isAdmin()" class="badge">Admin</span>
            </div> 
        </div>
    </div>
    <div *ngIf="selectedUser" class="subPanel vbox" style="margin-left: 5px; flex: 3;">
        <div class="subPanel-heading">
            <label>Project-User settings:</label>
        </div>
        <div class="subPanel-body vbox scrollableContainer">

            <!-- Roles -->
            <div *ngIf="isRoleManagementAuthorized() && !isSelectedUserAdmin()" class="panel panel-default vbox" style="min-height: 200px;">
                <div class="panel-body vbox">
                    <div class="hbox">
                        <div class="subPanel vbox" style="margin: 0px">
                            <div class="subPanel-heading">
                                <label>Assigned Roles:</label>
                            </div>
                            <div class="subPanel-body vbox scrollableContainer">
                                <ng-template [ngIf]="puBinding">
                                    <div *ngFor="let r of puBinding.getRoles()" (click)="selectUserRole(r)"
                                        class="listItem" [ngClass]="{active: r == selectedUserRole}">
                                        {{r}}
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div style="align-self: center; margin: 5px;">
                            <button class="btn btn-default btn-sm btn-block" (click)="addRole()" [disabled]="!selectedRole || !puBinding">
                                <span class="glyphicon glyphicon-chevron-left"></span> Add
                            </button>
                            <button class="btn btn-default btn-sm btn-block"  (click)="removeRole()" [disabled]="!selectedUserRole">
                                Remove <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>
                        <div class="subPanel vbox" style="margin: 0px">
                            <div class="subPanel-heading">
                                <label>Available Roles:</label>
                            </div>
                            <div class="subPanel-body vbox scrollableContainer">
                                <div *ngFor="let r of roleList" class="listItem" (click)="selectRole(r)"
                                    [ngClass]="{active: r == selectedRole, disabled: isRoleAlreadyAssigned(r)}" >
                                    {{r.getName()}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Groups -->
            <div *ngIf="isGroupManagementAuthorized()" class="panel panel-default vbox" style="min-height: 120px; margin-top: 4px">
                <div class="panel-body vbox">
                    <div class="hbox">
                        <div class="subPanel vbox" style="margin: 0px">
                            <div class="subPanel-heading">
                                <label style="flex: 1">Assigned Group:</label>
                                <button *ngIf="puBinding?.getGroup()" class="btn btn-xs btn-default" [ngClass]="{ active: puBinding.isSubjectToGroupLimitations()}" (click)="changeGroupLimitations()" 
                                title="If enabled, the user is subject to the group limitations" [disabled]="selectedUser.isAdmin()">
                                    <span *ngIf="puBinding.isSubjectToGroupLimitations()" class="greenText" style="font-weight: bold">Restrictions applied</span>
                                    <span *ngIf="!puBinding.isSubjectToGroupLimitations()" class="grayText">Apply restrictions</span>
                                </button>
                            </div>
                            <div class="subPanel-body vbox scrollableContainer">
                                <ng-template [ngIf]="puBinding">
                                    <div *ngIf="puBinding.getGroup()" class="listItem" [ngClass]="{active: selectedUserGroup}"
                                        (click)="selectUserGroup(puBinding.getGroup())">
                                        {{puBinding.getGroup().shortName}}
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div style="align-self: center; margin: 5px;">
                            <button class="btn btn-default btn-sm btn-block" (click)="assignGroup()" [disabled]="!selectedGroup || !puBinding">
                                <span class="glyphicon glyphicon-chevron-left"></span> Assign
                            </button>
                            <button class="btn btn-default btn-sm btn-block"  (click)="removeGroup()" [disabled]="!selectedUserGroup">
                                Remove <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>
                        <div class="subPanel vbox" style="margin: 0px">
                            <div class="subPanel-heading">
                                <label>Available Groups:</label>
                            </div>
                            <div class="subPanel-body vbox scrollableContainer">
                                <div *ngFor="let g of groupList" class="listItem" (click)="selectGroup(g)"
                                    [ngClass]="{active: g == selectedGroup, disabled: isGroupAlreadyAssigned(g)}" >
                                    {{g.shortName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Languages -->
            <div class="panel panel-default vbox" style="min-height: 320px; margin-top: 4px;">
                <div class="panel-body vbox">
                    <div class="hbox">
                        <div class="subPanel vbox" style="margin: 0px">
                            <div class="subPanel-heading">
                                <label>Assigned Languages:</label>
                            </div>
                            <div class="subPanel-body vbox scrollableContainer">
                                <ng-template [ngIf]="puBinding">
                                    <div *ngFor="let l of getPULanguages()" class="listItem" [ngClass]="{active: l == selectedUserLang}" 
                                        (click)="selectUserLang(l)">
                                        <lang-item style="flex: 1" [language]="l" showTag="true"></lang-item>
                                        <span *ngIf="isInUserLangProficiencies(l.tag)" class="glyphicon glyphicon-star" 
                                            title="This language is in the language proficiencies of the selected user">
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="vbox" style="align-self: center; margin: 5px; flex: initial;">
                            <div class="btn-group" style="display: flex; margin-bottom: 5px;">
                                <button class="btn btn-sm btn-default" style="width: 100%" (click)="addLanguage()" [disabled]="!selectedLang || !puBinding">
                                    <span class="glyphicon glyphicon-chevron-left"></span> Add
                                </button>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-sm btn-default dropdown-toggle" style="padding: 5px 3px;" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a (click)="addAllLanguages()">Add all</a></li>
                                        <li>
                                            <a (click)="addProficienciesLangs()">Add all proficiencies
                                                <span class="glyphicon glyphicon-star pull-right"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-default" (click)="removeLanguage()" [disabled]="!selectedUserLang">
                                    Remove <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-default dropdown-toggle" style="padding: 5px 3px;" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a (click)="removeAllLanguages()">Remove all</a></li>
                                        <li>
                                            <a (click)="leaveProficienciesLangs()">Leave only proficiencies
                                                <span class="glyphicon glyphicon-star pull-right"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="subPanel vbox" style="margin: 0px">
                            <div class="subPanel-heading">
                                <label>Available Languages:</label>
                            </div>
                            <div class="subPanel-body vbox scrollableContainer">
                                <div *ngFor="let l of projectLanguages" class="listItem" [ngClass]="{active: l == selectedLang}"
                                    (click)="selectLang(l)">
                                    <lang-item [language]="l" showTag="true" style="flex: 1" [disabled]="isLangAlreadyAssigned(l)"></lang-item>
                                    <span *ngIf="isInUserLangProficiencies(l.tag)" class="glyphicon glyphicon-star" 
                                        title="This language is in the language proficiencies of the selected user">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Templates -->
            <div *ngIf="isLoggedUserAdmin()" class="panel panel-default vbox" style="min-height: 420px; margin-top: 4px;">
                <div class="panel-heading">
                    <label style="flex: 1;">
                        ResourceView template
                        <span class="glyphicon glyphicon-info-sign" title="Customize the ResourceView template for the user in the given project"></span>
                    </label>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-default" (click)="storeTemplate()" title="Store template">
                                <span class="glyphicon glyphicon-floppy-save"></span>
                            </button>
                            <button class="btn btn-default" (click)="loadTemplate()" title="Load template">
                                <span class="glyphicon glyphicon-floppy-open"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body vbox">
                    <div class="alert alert-info" role="alert" style="margin-bottom: 5px;">
                        Here you can customize the ResourceView template for the user in the given project.
                        <u>Note</u>: this is exactly the setting of the user, so by changing it you will change directly its ResourceView template.<br>
                    </div>
                    <partition-filter-editor [(ngModel)]="puTemplate" (ngModelChange)="updateTemplate()"></partition-filter-editor>
                </div>
            </div>

        </div>
    </div>
</div>