<div class="expandableResource">
    <div class="hbox">
        <rdf-resource [resource]="resource" (dblclick)="resourceDblClick()" style="flex: 1;"></rdf-resource>
        <div class="expandCollapseBtnContainer" (click)="toggle()" title="Expand/Collapse" style="margin-right: 10px">
            <img src="../../../assets/images/icons/arrow.png" [ngClass]="{'arrow-left': !open}">
        </div>
    </div>

    <div *ngIf="open" class="panel panel-default" style="margin: 0px 3px 3px;">
        <div class="panel-body" style="padding: 2px;">
            <table class="table table-condensed table-borderless table-hoverable">
                <tbody>
                    <ng-template ngFor let-predObj [ngForOf]="predicateObjectList">
                        <tr *ngFor="let obj of predObj.getObjects()">
                            <td style="width: 1%" nowrap>{{predObj.getPredicate().getShow()}}</td>
                            <td>
                                <input type="text" class="form-control input-xs" [ngModel]="obj.getNominalValue()"
                                    (dblclick)="objectDblClick(obj)" readonly>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button class="transparentBtn" [title]="actionRemoveTitle" [disabled]="deleteDisabled" (click)="delete()">
    <span>-</span>
</button>