<div class="panel panel-default vbox">
    <div class="panel-heading">
        <div class="hbox" style="align-items: center">
            <rdf-resource [resource]="resource"></rdf-resource>
        </div>
    </div>
    <div class="panel-body vbox">
        <ntriple-editor [(ngModel)]="description" [disabled]="disabled"></ntriple-editor>
    </div>
</div>