<div class="modal-body vbox">
    <resource-triple-editor [resource]="context.resource" [readonly]="context.readonly"></resource-triple-editor>    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>