<div class="modal-header">
    <div class="hbox" style="align-items: center">
        <h3 class="modal-title" style="flex: 1">{{context.title}}</h3>
        <span>
            <button class="btn btn-default btn-xs" title="Change property" (click)="changeProperty()" [disabled]="!context.propChangeable">
                <rdf-resource [resource]="enrichingProperty"></rdf-resource>
            </button>
        </span>
    </div>
</div>
<div class="modal-body vbox">

    <div style="margin-bottom: 4px;">
        <div *ngIf="showAspectSelector" class="btn-group btn-group-xs pull-right">
            <button *ngFor="let selector of aspectSelectors" class="btn btn-default" [ngClass]="{active: selectedAspectSelector == selector}"
                (click)="selectedAspectSelector = selector">{{selector.show}}</button>
        </div>
    </div>

    <!--Alternative views-->
    <div *ngIf="selectedAspectSelector == treeListAspectSelector" class="vbox">
        <div  *ngIf="viewType == 'classTree'" class="vbox">
            <div *ngIf="rootsForClsTree" class="checkbox-inline" style="margin-bottom: 5px;">
                <label>
                    <input type="checkbox" [(ngModel)]="showAllClass">Show all classes
                </label>
            </div>
            <class-tree-panel [roots]="showAllClass? defaultRootClass : rootsForClsIndList" [deletable]="false" [allowMultiselection]="context.allowMultiselection"
                (nodeSelected)="onResourceSelected($event)" (nodeChecked)="checkedResources = $event" (multiselectionStatus)="onMultiselectionChange($event)">
            </class-tree-panel>
        </div>

        <concept-tree-panel *ngIf="viewType == 'conceptTree'" [deletable]="false" [schemeChangeable]="true" [schemes]="schemes" [allowMultiselection]="context.allowMultiselection"
            (nodeSelected)="onResourceSelected($event)" (nodeChecked)="checkedResources = $event" (schemeChanged)="onConceptTreeSchemeChange($event)"
            (multiselectionStatus)="onMultiselectionChange($event)">
        </concept-tree-panel>
        
        <ng-template [ngIf]="viewType == 'propertyTree'">
            <property-tree-panel *ngIf="viewType == 'propertyTree'" [deletable]="false" [type]="propertyType" [allowMultiselection]="context.allowMultiselection"
                (nodeSelected)="onPropertySelected($event)" (nodeChecked)="checkedResources = $event" (multiselectionStatus)="onMultiselectionChange($event)">
            </property-tree-panel>
            <div *ngIf="showInversePropertyCheckbox" class="checkbox" style="margin: 8px 0 0 0;">
                <label>
                    <input type="checkbox" [(ngModel)]="inverseProp" [disabled]="!isInversePropertyCheckboxEnabled()">Inverse Property
                    <span *ngIf="multiselection" class="glyphicon glyphicon-exclamation-sign"
                        title="In case of multiple properties selected, the 'Inverse Property' flag is applied to all of them (available only if all for ObjectProperties)">
                    </span>
                </label>
            </div>
        </ng-template>
        
        <scheme-list-panel *ngIf="viewType == 'schemeList'" [deletable]="false" [allowMultiselection]="context.allowMultiselection"
            (nodeSelected)="onResourceSelected($event)" (nodeChecked)="checkedResources = $event" (multiselectionStatus)="onMultiselectionChange($event)">
        </scheme-list-panel>
        
        <datatype-list-panel *ngIf="viewType == 'datatypeList'" [full]="true" [deletable]="false"  [allowMultiselection]="context.allowMultiselection"
            (nodeSelected)="onResourceSelected($event)" (nodeChecked)="checkedResources = $event" (multiselectionStatus)="onMultiselectionChange($event)">
        </datatype-list-panel>
        
        <div  *ngIf="viewType == 'classAndIndividual'" class="vbox">
            <div *ngIf="rootsForClsIndList" class="checkbox-inline" style="margin-bottom: 5px;">
                <label>
                    <input type="checkbox" [(ngModel)]="showAllClass">Show all classes
                </label>
            </div>
            <class-individual-tree [deletable]="false" [roots]="showAllClass? defaultRootClasses : rootsForClsIndList" [allowMultiselection]="context.allowMultiselection"
                (nodeSelected)="onResourceSelected($event)" (nodeChecked)="checkedResources = $event" (multiselectionStatus)="onMultiselectionChange($event)">
            </class-individual-tree>
        </div>
    </div>

    <manchester-editor *ngIf="selectedAspectSelector == manchExprAspectSelector" [(ngModel)]="manchExpr" style="flex: 1; margin-top: 5px;">
    </manchester-editor>

    <data-range-editor *ngIf="selectedAspectSelector == dataRangeAspectSelector" [(ngModel)]="datarange">
    </data-range-editor>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>