<div class="modal-header">
    <h3 class="modal-title">ResourceView settings</h3>
</div>
<div class="modal-body hbox">
    <div class="vbox">
        <res-view-pref></res-view-pref>
        <lang-value-filter-pref class="vbox"></lang-value-filter-pref>
    </div>
    
    <div class="panel panel-default vbox" style="margin-left: 4px;">
        <div class="panel-heading">
            <label style="flex: 1;">ResourceView template</label>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default" (click)="storeTemplate()" title="Store template">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    <button class="btn btn-default" (click)="loadTemplate()" title="Load template">
                        <span class="glyphicon glyphicon-floppy-open"></span>
                    </button>
                </div>
                <div class="btn-group btn-group-xs">
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                            Defaults
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a (click)="setUserDefault()">
                                    Set this configuration as default for all projects
                                </a>
                            </li>
                            <li>
                                <a (click)="restoreDefault()">
                                    Restore the default configuration
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body vbox">
            <div class="alert alert-info" role="alert" style="margin-bottom: 5px;">
                Here you can customize the ResourceView by showing/hiding the partitions.
            </div>
            <partition-filter-editor [(ngModel)]="template" (ngModelChange)="updateTemplate()"></partition-filter-editor>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
</div>