<div class="hbox">

    <div class="panel panel-default vbox" style="flex: 2">
        <div class="panel-heading">
            <label style="flex: 1;">Catalog Records:</label>
            <div class="btn-group btn-group-xs" role="group">
                <div class="btn-group btn-group-xs" role="group" title="Add Dataset">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" [disabled]="!isAddDatasetAuthorized()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a (click)="addCatalogRecord()">Add Catalog record</a></li>
                        <li><a (click)="discoverDataset()">Discover dataset</a></li>
                    </ul>
                </div>
                <button class="btn btn-default" title="Delete Dataset" (click)="deleteCatalogRecord()"
                    [disabled]="!selectedCatalog || !isRemoveDatasetAuthorized()">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hoverable">
                <thead>
                    <tr>
                        <th class="text-center">Dataset</th>
                        <th class="text-center">Issued</th>
                        <th class="text-center">Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of catalogs" (click)="selectCatalog(c)" [ngClass]="{ info : selectedCatalog == c }">
                        <td>
                            <label *ngIf="c.abstractDataset.title">{{c.abstractDataset.title}}:</label>
                            {{c.abstractDataset.uriSpace}}
                        </td>
                        <td class="text-center">{{c.issued}}</td>
                        <td class="text-center">{{c.modified}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default vbox" style="flex: 3; margin-left: 4px;">
        <div class="panel-heading">
            <label>Dataset:</label>
        </div>
        <div class="panel-body vbox">
            <dataset-metadata [dataset]="activeDatasetMetadata" (update)="onDatasetUpdate()"></dataset-metadata>

            <div class="hbox" style="margin-top: 4px;">
                <!-- Other versions -->
                <div class="subPanel vbox">
                    <div class="subPanel-heading">
                        <label style="flex: 1;">Other versions:</label>
                        <div class="btn-group btn-group-xs" role="group">
                            <button class="btn btn-default" title="Add Dataset Version" (click)="addDatasetVersion()"
                                [disabled]="!selectedCatalog || !isAddDatasetAuthorized()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-default" title="Delete Dataset Version" (click)="deleteDatasetVersion()"
                                [disabled]="!selectedVersion || !isRemoveDatasetAuthorized()">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="subPanel-body scrollableContainer">
                        <dataset-metadata *ngFor="let v of selectedCatalog?.versions" [dataset]="v" style="margin-bottom: 2px;"
                            (click)="selectedVersion = v" [ngClass]="{ activePanel : v == selectedVersion }" version="true"
                            (update)="onVersionUpdate()">
                        </dataset-metadata>
                    </div>
                </div>
                <!-- Embedded lex sets -->
                <div class="subPanel vbox blockingDivHost" style="margin-left: 4px;">
                    <div class="subPanel-heading">
                        <label style="flex: 1;">Embedded Lexicalization Sets:</label>
                        <div class="btn-group btn-group-xs" role="group">
                            <div class="btn-group btn-group-xs" role="group" title="Add Embedded Lexicalization Set">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" [disabled]="!selectedCatalog || !isAddEmbeddedLexicalizationSetAuthorized()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a (click)="addEmbeddedLexicalizationSet()">Add Embedded Lexicalization Set</a></li>
                                    <li [ngClass]="{disabled : lexicalizationSets.length != 0}"><a (click)="assessLexicalizationModel()">Assess Lexicalization Model</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-default" title="Delete Embedded Lexicalization Set" (click)="deleteEmbeddedLexicalizationSet()"
                                [disabled]="!selectedLexicalizationSet || !isRemoveEmbeddedLexicalizationSetAuthorized()">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <button class="btn btn-default" title="Delete All Embedded Lexicalization Set" (click)="deleteAllEmbeddedLexicalizationSet()"
                                [disabled]="!isRemoveEmbeddedLexicalizationSetAuthorized() || lexicalizationSets.length == 0">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                    <div class="subPanel-body scrollableContainer">
                        <lexicalization-set-metadata *ngFor="let ls of lexicalizationSets" style="margin-bottom: 2px;"
                            [lexicalizationSetMetadata]="ls" [dataset]="selectedCatalog?.abstractDataset"
                            (click)="selectedLexicalizationSet = ls" [ngClass]="{ activePanel : ls == selectedLexicalizationSet }">
                        </lexicalization-set-metadata>
                    </div>

                    <div #blockDiv class="blockingDiv" style="display:none">
                        <div class="loadingDiv">
                            <div>
                                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
