<div class="vbox">

    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label style="flex: 1">Custom Forms configuration:</label>
            <button class="btn btn-xs btn-default" (click)="showBrokenCFS()" title="Show broken CustomForm structures">
                <span class="glyphicon glyphicon-warning-sign"></span>
            </button>
        </div>

        <div class="panel-body vbox">

            <div class="hbox">

                <div class="subPanel vbox">
                    <div class="subPanel-heading">
                        <label style="flex: 1">Custom Forms:</label>
                        <div class="btn-group btn-group-xs" role="group">
                            <button class="btn btn-default" title="Create Custom Form" (click)="createCustomForm()"
                                [disabled]="!isCreateFormAuthorized()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-default" title="Delete Custom Form" (click)="deleteCustomForm()"
                                [disabled]="!selectedCustomForm || selectedCustomForm.level == 'system' || !isDeleteFormAuthorized()">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <button class="btn btn-default" title="Change Custom Form" (click)="editCustomForm()"
                                [disabled]="!selectedCustomForm || !isUpdateFormAuthorized()">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-default" title="Clone Custom Form" (click)="cloneCustomForm()"
                                [disabled]="!selectedCustomForm || !isCreateFormAuthorized()">
                                <span class="glyphicon glyphicon-duplicate"></span>
                            </button>
                            <button class="btn btn-default" title="Export Custom Form" (click)="exportCustomForm()"
                                [disabled]="!selectedCustomForm">
                                <span class="glyphicon glyphicon-save"></span>
                            </button>
                            <button class="btn btn-default" title="Import Custom Form" (click)="importCustomForm()"
                                [disabled]="!isCreateFormAuthorized()">
                                <span class="glyphicon glyphicon-open"></span>
                            </button>
                        </div>
                    </div>
                    <div class="subPanel-body vbox">
                        <div class="scrollableContainer">
                            <table class="table table-condensed table-borderless table-hoverable">
                                <tbody>
                                    <tr *ngFor="let cf of customFormList" (click)="selectCustomForm(cf)"
                                        [ngClass]="{ info: cf == selectedCustomForm, grayText: cf.level == 'system' }">
                                        <td>{{cf.id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="subPanel vbox" style="margin-left: 4px;">
                    <div class="subPanel-heading">
                        <label style="flex: 1">Form Collections:</label>
                        <div class="btn-group btn-group-xs" role="group">
                            <button class="btn btn-default" title="Create Form Collection" (click)="createFormCollection()"
                                [disabled]="!isCreateCollectionAuthorized()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-default" title="Delete Form Collection" (click)="deleteFormCollection()"
                                [disabled]="!selectedFormColl || selectedFormColl.level == 'system' || !isDeleteCollectionAuthorized()">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <button class="btn btn-default" title="Change Form Collection" (click)="editFormCollection()"
                                [disabled]="!selectedFormColl || !isUpdateCollectionAuthorized()">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-default" title="Clone Form Collection" (click)="cloneFormCollection()"
                                [disabled]="!selectedFormColl || !isCreateCollectionAuthorized()">
                                <span class="glyphicon glyphicon-duplicate"></span>
                            </button>
                            <button class="btn btn-default" title="Export Form Collection" (click)="exportFormCollection()"
                                [disabled]="!selectedCustomForm">
                                <span class="glyphicon glyphicon-save"></span>
                            </button>
                            <button class="btn btn-default" title="Import Form Collection" (click)="importFormCollection()"
                                [disabled]="!isCreateCollectionAuthorized()">
                                <span class="glyphicon glyphicon-open"></span>
                            </button>
                        </div>
                    </div>
                    <div class="subPanel-body vbox">
                        <div class="scrollableContainer">
                            <table class="table table-condensed table-borderless table-hoverable">
                                <tbody>
                                    <tr *ngFor="let fc of formCollectionList" (click)="selectFormColl(fc)"
                                        [ngClass]="{ info: fc == selectedFormColl, grayText: fc.level == 'system' }">
                                        <td>{{fc.id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>


            <div class="subPanel vbox">
                <div class="subPanel-heading">
                    <label style="flex: 1">Forms mapping:</label>
                    <div class="btn-group btn-group-xs" role="group">
                        <button class="btn btn-default" title="Create Resource - FormCollection mapping" (click)="createFormCollMapping()"
                            [disabled]="!isCreateMappingAuthorized()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" title="Remove Resource - FormCollection mapping" (click)="removeFormCollMapping()"
                            [disabled]="!selectedFormCollMapping || !isDeleteMappingAuthorized()">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                </div>
                <div class="subPanel-body vbox">
                    
                    <div class="scrollableContainer">
                        <table class="table table-condensed table-borderless table-hoverable">
                            <thead style="border-bottom: 1px solid #ddd;">
                                <tr>
                                    <th>Property/Class</th>
                                    <th>Form Collection</th>
                                    <th style="width: 1%" nowrap>
                                        Replace
                                        <span class="glyphicon glyphicon-info-sign" 
                                            title="Tells if the CustomForm replaces the 'default' form. Valid only for CustomRanges (not CustomConstructors)">
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let formCollMap of cfConfigurationMap" (click)="selectFormCollMapping(formCollMap)"
                                    [ngClass]="{ info: formCollMap == selectedFormCollMapping }">
                                    <td>{{formCollMap.getResource().getURI()}}</td>
                                    <td [ngClass]="{grayText: formCollMap.getFormCollection().getLevel() == 'system'}">
                                        {{formCollMap.getFormCollection().getId()}}
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" [ngModel]="formCollMap.getReplace()" (ngModelChange)="changeReplaceToMapping($event, formCollMap)"
                                            [disabled]="!isUpdateMappingAuthorized()">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <div class="panel-footer">
            <span class="pull-right grayText" style="padding: 2px; margin: 0px 2px; border: 1px solid #ccc; border-radius: 2px; background: #fff;">
                System level elements
            </span>
            <span class="pull-right"  style="padding: 2px; margin: 0px 2px; border: 1px solid #ccc; border-radius: 2px; background: #fff;">
                Project level elements
            </span>
        </div>

    </div>
    
</div>