<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body">
    
    <!--
        This modal is used for add import from
        - Web) field to show: baseURI, alernative URL, format
        - Web to mirror) field to show: baseURI, mirror file, alernative URL, format
        - Local file) field to show: baseURI, local file, mirror file
        - Ontology mirror) field to show:
        Based on the input parameter "context.importType" this modal shows/hides the proper fields
    -->
    
    <table class="table table-condensed table-borderless">
        <colgroup>
            <col style="width: 1%;">
            <col>
        </colgroup>
        <tbody>
            <tr *ngIf="context.importType == 'fromWeb' || context.importType == 'fromWebToMirror' || context.importType == 'fromLocalFile'">
                <td>
                    <div style="display: flex; align-items: center">
                        <label>BaseURI:</label>
                        <input *ngIf="context.importType == 'fromLocalFile'" type="checkbox" style="margin-left: 3px;" [checked]="baseURICheck" (change)="baseURICheck=$event.target.checked" [disabled]="baseURIdisabled">
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control input-sm" [(ngModel)]="baseURI" [disabled]="!baseURICheck">
                </td>
            </tr>
            <tr *ngIf="context.importType == 'fromLocalFile'">
                <td><label>Local file:</label></td>
                <td>
                    <file-picker (fileChanged)="fileChangeEvent($event)"></file-picker>
                </td>
            </tr>
            <tr *ngIf="context.importType == 'fromWebToMirror' || context.importType == 'fromLocalFile'">
                <td nowrap>
                    <div style="display: flex; align-items: center">
                        <label>Mirror file name:</label>
                        <input *ngIf="context.importType == 'fromLocalFile'" type="checkbox" style="margin-left: 3px;" [checked]="mirrorFileCheck" (change)="mirrorFileCheck=$event.target.checked" [disabled]="baseURIdisabled">
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control input-sm" [(ngModel)]="mirrorFile" [disabled]="!mirrorFileCheck">
                </td>
            </tr>
            <tr *ngIf="context.importType == 'fromWeb' || context.importType == 'fromWebToMirror'">
                <td nowrap>
                    <div style="display: flex; align-items: center">
                        <label>Alternative URL:</label>
                        <input type="checkbox" style="margin-left: 3px;" [checked]="altURLCheck" (change)="altURLCheck=$event.target.checked">
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control input-sm" [(ngModel)]="altURL" [disabled]="!altURLCheck">
                </td>
            </tr>
            <tr *ngIf="context.importType == 'fromWeb' || context.importType == 'fromWebToMirror'">
                <td nowrap>
                    <div style="display: flex; align-items: center">
                        <label>Force format:</label>
                        <input type="checkbox" style="margin-left: 3px;" [checked]="forceFormatCheck" (change)="forceFormatCheck=$event.target.checked">
                    </div>
                </td>
                <td>
                    <select class="form-control input-sm" [(ngModel)]="rdfFormat" [disabled]="!forceFormatCheck">
                        <option *ngFor="let f of formats" [ngValue]="f">{{f.name}}</option>
                    </select>
                </td>
            </tr>
            <tr *ngIf="context.importType == 'fromOntologyMirror'">
                <td><label>BaseURI:</label></td>
                <td>
                    <select *ngIf="mirrorList" class="form-control input-sm" [(ngModel)]="selectedMirror">
                        <option *ngFor="let m of mirrorList" [ngValue]="m">{{m.baseURI}}</option>
                    </select>
                    <select *ngIf="!mirrorList" class="form-control input-sm" disabled>
                        <option>No ontologies mirrored</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td nowrap><label>Transitive imports:</label></td>
                <td>
                    <select class="form-control input-sm" [(ngModel)]="selectedImportAllowance">
                        <option *ngFor="let ia of importAllowances" [value]="ia.allowance">{{ia.show}}</option>
                    </select>                    
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkClickable()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>