<div class="hbox">

    <div class="vbox">

        <!-- Namespace management -->
        <div class="panel panel-default vbox">
            <div class="panel-heading">
                <label style="flex: 1">Namespace management:</label>
                <div class="btn-group btn-group-xs" role="group">
                    <button class="btn btn-default" title="Add mapping" (click)="addMapping()" [disabled]="!isAddNsPrefixMappingAuthorized()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" title="Remove mapping" (click)="removeMapping()"
                        [disabled]="!selectedMapping || !selectedMapping.explicit || !isRemoveNsPrefixMappingAuthorized()">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <button class="btn btn-default" title="Change prefix" (click)="changeMapping()"
                        [disabled]="!selectedMapping || !isChangeNsPrefixMappingAuthorized()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
            </div>
            <div class="panel-body vbox">
                
                <div class="panel panel-default" style="margin: 4px">
                    <div class="panel-body">
                        <table class="table table-condensed table-borderless">
                            <colgroup>
                                <col style="width: 1%;">
                                <col>
                                <col style="width: 1%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td><label>BaseURI:</label></td>
                                    <td>
                                        <input type="text" class="form-control input-xs"
                                            [ngClass]="{ submitted:nsBaseURISubmitted, 'ng-invalid':!isBaseURIValid() }" [ngModel]="baseURI"
                                            (ngModelChange)="onBaseURIChanged($event)" [disabled]="!isBaseuriNsEditAuthorized()">
                                    </td>
                                    <td rowspan="2">
                                        <div class="btn-group-sm btn-group-vertical">
                                            <button class="btn btn-default" [ngClass]="{active: bind}" title="Bind/unbind namespace and baseURI"
                                                (click)="bindNamespaceBaseURI()">
                                                <span class="glyphicon glyphicon-link"></span>
                                            </button>
                                            <button class="btn btn-default" title="Apply namespace baseURI changes"
                                                [ngClass]="{'btn-primary': areNamespaceBaseURIChanged(), 'btn-default': !areNamespaceBaseURIChanged()}"
                                                (click)="applyNamespaceBaseURI()" [disabled]="!areNamespaceBaseURIChanged() || !isBaseuriNsEditAuthorized()">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Namespace:</label></td>
                                    <td>
                                        <input type="text" class="form-control input-xs"
                                            [ngClass]="{ submitted:nsBaseURISubmitted, 'ng-invalid':!isNamespaceValid() }" [ngModel]="namespace"
                                            (ngModelChange)="onNamespaceChanged($event)" [disabled]="!isBaseuriNsEditAuthorized()" >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="scrollableContainer">
                    <table class="table table-condensed table-striped table-hoverable">
                        <thead>
                            <tr>
                                <th class="text-center">Prefix</th>
                                <th class="text-center">Namespace</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of nsPrefMappingList" (click)="selectMapping(m)"
                                [ngClass]="{ info: m == selectedMapping, grayText: !m.explicit }">
                                <td class="text-center">{{m.prefix}}</td>
                                <td class="text-center">{{m.namespace}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Imports-->
        <div class="panel panel-default vbox" style="margin-top: 5px;">
            <div class="panel-heading">
                <label style="flex: 1">Imports:</label>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown" [disabled]="!isAddImportAuthorized()">
                        Add import from <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a (click)="importFromWeb()">Web</a></li>
                        <li><a (click)="importFromWebToMirror()">Web to mirror</a></li>
                        <li><a (click)="importFromLocalFile()">Local file</a></li>
                        <li><a (click)="importFromOntologyMirror()">Ontology mirror</a></li>
                        <li><a (click)="importFromDatasetCatalog()">Dataset Catalog</a></li>
                    </ul>
                </div>
                <button class="btn btn-default btn-xs" (click)="openOntologyMirror()" style="margin-left: 4px;">
                    Ontology mirror
                </button>
            </div>
            <div class="panel-body vbox">
                <import-tree [imports]="importTree" (nodeRemoved)="removeImport($event)" (update)="onInportTreeUpdate()"></import-tree>
            </div>
        </div>

    </div>

    <resource-view *ngIf="baseUriRes" [resource]="baseUriRes" (update)="onOntologyUpdated()"
        style="margin-left: 5px;">
    </resource-view>

</div>