<div class="vbox">

    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label style="flex: 1;">Projects</label>
            <div class="btn-toolbar">
                <button class="btn btn-xs btn-default" (click)="createProject()">
                    Create
                </button>
                <button class="btn btn-xs btn-default" (click)="openACLModal()">
                    ACL
                </button>
                <button class="btn btn-xs btn-default" (click)="settings()" title="Project view settings">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </div>
        </div>
        <div class="panel-body scrollableContainer" style="padding-left: 8px; padding-right: 8px;">
            <ng-container *ngIf="visualizationMode == 'dir'">
                <!-- 7px applies the same paddings applied to the rows, namely the padding sum of listItem (3px) and groupPanel-body (4px) -->
                <div class="hbox" style="padding: 7px 7px 0px; flex: none;">
                    <ng-container *ngFor="let colId of columnIDs">
                        <label *ngIf="columnOrder[colId]" class="text-center" [ngStyle]="{ order: columnOrder[colId].order, flex: columnOrder[colId].flex }">
                            {{columnOrder[colId].show}}
                        </label>
                    </ng-container>
                    <label class="text-center" style="width: 18px; order: 99;">
                        <!-- just a placeholder for the ctx menu column -->
                    </label>
                </div>
                <ng-container *ngFor="let pd of projectDirs">
                    <div class="groupPanel">
                        <div class="groupPanel-heading">
                            <div class="groupPanel-heading-content clickable" (click)="toggleDirectory(pd)">
                                <span [class]="'glyphicon glyphicon-menu-' + (pd.open ? 'down' : 'right')"></span>
                                <span [class]="'glyphicon glyphicon-folder-' + (pd.open ? 'open' : 'close')" style="margin-left: 4px;"></span>
                                <label class="clickable" style="margin-left: 4px;">
                                    <ng-container *ngIf="pd.dir">{{pd.dir}}</ng-container>
                                    <ng-container *ngIf="!pd.dir">Unclassified</ng-container>
                                </label>
                            </div>
                        </div>
                    
                        <div class="groupPanel-body">
                            <ng-container *ngIf="pd.open">
                                <div *ngFor="let p of pd.projects" class="listItem project-row">
                                    <div *ngIf="columnOrder['name']" class="text-center" [ngStyle]="{ order: columnOrder['name'].order, flex: columnOrder['name'].flex }">
                                        {{p.getName()}}
                                    </div>
                                    <div *ngIf="columnOrder['name']" class="text-center" [ngStyle]="{ order: columnOrder['open'].order, flex: columnOrder['open'].flex }">
                                        <button class="btn btn-default btn-sm" [ngClass]="{active: p.isOpen()}" style="line-height: 1" 
                                            (click)="openOrCloseProject(p)">
                                            <img *ngIf="!p.isOpen()" src="../../assets/images/icons/folder.gif">
                                            <img *ngIf="p.isOpen()" src="../../assets/images/icons/folder-open.gif">
                                        </button>
                                    </div>
                                    <div *ngIf="columnOrder['accessed']" class="text-center" [ngStyle]="{ order: columnOrder['accessed'].order, flex: columnOrder['accessed'].flex }">
                                        <input type="radio" name="projRadioGrp" [value]="p.getName()" (click)="activateProject(p)" [checked]="isWorkingProject(p)" [disabled]="!p.isOpen()"/>
                                    </div>
                                    <div *ngIf="columnOrder['model']" class="text-center" [ngStyle]="{ order: columnOrder['model'].order, flex: columnOrder['model'].flex }">
                                        {{p.getModelType(true)}}
                                    </div>
                                    <div *ngIf="columnOrder['lexicalization']" class="text-center" [ngStyle]="{ order: columnOrder['lexicalization'].order, flex: columnOrder['lexicalization'].flex }">
                                        {{p.getLexicalizationModelType(true)}}
                                    </div>
                                    <div *ngIf="columnOrder['history']" class="text-center" [ngStyle]="{ order: columnOrder['history'].order, flex: columnOrder['history'].flex }">
                                        <span *ngIf="p.isHistoryEnabled()" class="glyphicon glyphicon-ok" style="color: green" title="History enabled"></span>
                                        <span *ngIf="!p.isHistoryEnabled()" class="glyphicon glyphicon-remove" style="color: darkred" title="History disabled"></span>
                                    </div>
                                    <div *ngIf="columnOrder['validation']" class="text-center" [ngStyle]="{ order: columnOrder['validation'].order, flex: columnOrder['validation'].flex }">
                                        <span *ngIf="p.isValidationEnabled()" class="glyphicon glyphicon-ok" style="color: green" title="Validation enabled"></span>
                                        <span *ngIf="!p.isValidationEnabled()" class="glyphicon glyphicon-remove" style="color: darkred" title="Validation disabled"></span>
                                    </div>
                                    <div *ngIf="columnOrder['location']" class="text-center" [ngStyle]="{ order: columnOrder['location'].order, flex: columnOrder['location'].flex }">
                                        {{p.getRepositoryLocation().location}}
                                        <span *ngIf="p.isRepositoryRemote()" class="glyphicon glyphicon-map-marker" [title]="p.getRepositoryLocation().serverURL"></span>
                                    </div>
                                    <div class="dropdown pull-right" style="width: 18px; order: 99">
                                        <button class="dropdown-toggle transparentBtn" data-toggle="dropdown">
                                            <span>&#9662;</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a (click)="editDirectory(p, pd.dir)">Change directory</a></li>
                                            <li><a (click)="editACL(p)">Edit ACL</a></li>
                                            <li *ngIf="p.isRepositoryRemote()"><a (click)="editRemoteRepoCredential(p)">Edit Remote Repo configuration</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a (click)="deleteProject(p)">Delete</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a (click)="openPropertyModal(p)">Properties</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="visualizationMode == 'list'">
                <!-- 3px is the same padding applied to the rows (of the listItem class) -->
                <div class="hbox" style="padding: 7px 3px; flex: none;">
                    <ng-container *ngFor="let colId of columnIDs">
                        <label *ngIf="columnOrder[colId]" class="text-center" [ngStyle]="{ order: columnOrder[colId].order, flex: columnOrder[colId].flex }">
                            {{columnOrder[colId].show}}
                        </label>
                    </ng-container>
                    <label class="text-center" style="width: 18px; order: 99;">
                        <!-- just a placeholder for the ctx menu column -->
                    </label>
                </div>
                <div>
                    <div *ngFor="let p of projectList" class="listItem project-row">
                        <div *ngIf="columnOrder['name']" class="text-center" [ngStyle]="{ order: columnOrder['name'].order, flex: columnOrder['name'].flex }">
                            {{p.getName()}}
                        </div>
                        <div *ngIf="columnOrder['name']" class="text-center" [ngStyle]="{ order: columnOrder['open'].order, flex: columnOrder['open'].flex }">
                            <button class="btn btn-default btn-sm" [ngClass]="{active: p.isOpen()}" style="line-height: 1" 
                                (click)="openOrCloseProject(p)">
                                <img *ngIf="!p.isOpen()" src="../../assets/images/icons/folder.gif">
                                <img *ngIf="p.isOpen()" src="../../assets/images/icons/folder-open.gif">
                            </button>
                        </div>
                        <div *ngIf="columnOrder['accessed']" class="text-center" [ngStyle]="{ order: columnOrder['accessed'].order, flex: columnOrder['accessed'].flex }">
                            <input type="radio" name="projRadioGrp" [value]="p.getName()" (click)="activateProject(p)" [checked]="isWorkingProject(p)" [disabled]="!p.isOpen()"/>
                        </div>
                        <div *ngIf="columnOrder['model']" class="text-center" [ngStyle]="{ order: columnOrder['model'].order, flex: columnOrder['model'].flex }">
                            {{p.getModelType(true)}}
                        </div>
                        <div *ngIf="columnOrder['lexicalization']" class="text-center" [ngStyle]="{ order: columnOrder['lexicalization'].order, flex: columnOrder['lexicalization'].flex }">
                            {{p.getLexicalizationModelType(true)}}
                        </div>
                        <div *ngIf="columnOrder['history']" class="text-center" [ngStyle]="{ order: columnOrder['history'].order, flex: columnOrder['history'].flex }">
                            <span *ngIf="p.isHistoryEnabled()" class="glyphicon glyphicon-ok" style="color: green" title="History enabled"></span>
                            <span *ngIf="!p.isHistoryEnabled()" class="glyphicon glyphicon-remove" style="color: darkred" title="History disabled"></span>
                        </div>
                        <div *ngIf="columnOrder['validation']" class="text-center" [ngStyle]="{ order: columnOrder['validation'].order, flex: columnOrder['validation'].flex }">
                            <span *ngIf="p.isValidationEnabled()" class="glyphicon glyphicon-ok" style="color: green" title="Validation enabled"></span>
                            <span *ngIf="!p.isValidationEnabled()" class="glyphicon glyphicon-remove" style="color: darkred" title="Validation disabled"></span>
                        </div>
                        <div *ngIf="columnOrder['location']" class="text-center" [ngStyle]="{ order: columnOrder['location'].order, flex: columnOrder['location'].flex }">
                            {{p.getRepositoryLocation().location}}
                            <span *ngIf="p.isRepositoryRemote()" class="glyphicon glyphicon-map-marker" [title]="p.getRepositoryLocation().serverURL"></span>
                        </div>
                        <div class="dropdown pull-right" style="width: 18px; order: 99">
                            <button class="dropdown-toggle transparentBtn" data-toggle="dropdown">
                                <span>&#9662;</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a (click)="editACL(p)">Edit ACL</a></li>
                                <li *ngIf="p.isRepositoryRemote()"><a (click)="editRemoteRepoCredential(p)">Edit Remote Repo configuration</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a (click)="deleteProject(p)">Delete</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a (click)="openPropertyModal(p)">Properties</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

</div>