<div class="panel panel-default vbox blockingDivHost">
    <div class="panel-heading">
        <div class="hbox" style="align-items: center">
            <rdf-resource *ngIf="resource" [resource]="resource"></rdf-resource>
            <resource-rename [resource]="resource" style="margin-left: 8px; flex: 1;" [readonly]="readonly" (update)="buildResourceView(resource)">
            </resource-rename>
            
            <div *ngIf="versioningAvailable" class="dropdown pull-right" style="margin-left: 3px;">
                <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" (click)="listVersions()" title="Change version">
                    <span class="glyphicon glyphicon-time"></span>
                </button>
                <ul class="dropdown-menu">
                    <li style="position: relative;">
                        <a (click)="switchToVersion()" style="padding-right: 18px">Current</a>
                        <span *ngIf="!activeVersion" class="glyphicon glyphicon-ok pull-right" style="position: absolute; right: 4px;"></span>
                    </li>
                    <li *ngFor="let v of versionList" style="position: relative;">
                        <a (click)="switchToVersion(v)" style="padding-right: 18px">{{v.dateTimeLocal}} - {{v.versionId}}</a>
                        <span *ngIf="v == activeVersion" class="glyphicon glyphicon-ok pull-right" style="position: absolute; right: 4px;"></span>
                    </li>
                </ul>
            </div>

            <div *ngIf="collaborationAvailable" class="dropdown pull-right" style="margin-left: 3px;">
                <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" title="Issues">
                    <span [class]="'glyphicon glyphicon-exclamation-sign ' + issuesStruct.btnClass"></span>
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let i of issuesStruct.issues" >
                        <a [href]="i.getUrl()" target="_blank" [title]="i.getSummary()">
                            <span [class]="'label pull-right ' + i.getStatusClass()" style="font-size: 100%">{{i.getStatus()}}</span>
                            {{i.getKey()}}
                        </a>
                    </li>
                    <li *ngIf="issuesStruct.issues" role="separator" class="divider"></li>
                    <li><a (click)="createIssue()">Create issue for this resource</a></li>
                    <li><a (click)="assignToIssue()">Assign this resource to existing issue</a></li>
                </ul>
            </div>
            
            <button class="btn btn-default btn-xs" [ngClass]="{active: showInferred}" style="margin-left: 3px;"
                title="Show/hide inferred information" (click)="switchInferred()">
                <span *ngIf="showInferred" class="glyphicon glyphicon-eye-open"></span>
                <span *ngIf="!showInferred" class="glyphicon glyphicon-eye-close"></span>
            </button>
            <button class="btn btn-default btn-xs" [ngClass]="{active: valueFilterLangEnabled}" style="margin-left: 3px;"
                title="Enable/disable value-filter on languages" (click)="switchValueFilterLang()">
                <span class="glyphicon glyphicon-filter"></span>
            </button>
            <button class="btn btn-default btn-xs" [ngClass]="{active: rendering}" style="margin-left: 3px;"
                title="Rendering" (click)="switchRendering()">
                <span class="glyphicon glyphicon-font"></span>
            </button>
            <button class="btn btn-default btn-xs" style="margin-left: 3px;" title="Refresh" (click)="buildResourceView(resource)">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button *ngIf="settingsAvailable" class="btn btn-default btn-xs" style="margin-left: 3px;" title="ResourceView settings" (click)="openSettings()">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            
            <res-view-menu [resource]="resource" [rendering]="rendering" [showInferred]="showInferred" [readonly]="readonly" [projectCtx]="projectCtx"
                (update)="buildResourceView(resource)" (assertInferred)="assertInferredStatements()"></res-view-menu>
        </div>
    </div>
    <div class="panel-body scrollableContainer">
        <div *ngIf="unexistingResource" class="alert alert-danger">
            This resource is not available in the current project
        </div>
        <div *ngIf="unknownHost" class="alert alert-danger">
            This resource is not available on accessible local projects nor can be reached on the Web
        </div>
        <ng-template [ngIf]="!unexistingResource && !unknownHost">
            <types-renderer *ngIf="typesColl" [pred-obj-list]="typesColl" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </types-renderer>
            <class-axiom-renderer *ngIf="classAxiomColl" [pred-obj-list]="classAxiomColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </class-axiom-renderer>
            <top-concepts-renderer *ngIf="topconceptofColl" [pred-obj-list]="topconceptofColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </top-concepts-renderer>
            <schemes-renderer *ngIf="schemesColl" [pred-obj-list]="schemesColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </schemes-renderer>
            <broaders-renderer *ngIf="broadersColl" [pred-obj-list]="broadersColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </broaders-renderer>
            <superproperties-renderer *ngIf="superpropertiesColl" [pred-obj-list]="superpropertiesColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </superproperties-renderer>
            <equivalent-properties-renderer *ngIf="equivalentPropertiesColl" [pred-obj-list]="equivalentPropertiesColl" [resource]="resource" 
                [rendering]="rendering" [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </equivalent-properties-renderer>
            <disjoint-properties-renderer *ngIf="disjointPropertiesColl" [pred-obj-list]="disjointPropertiesColl" [resource]="resource" 
                [rendering]="rendering" [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </disjoint-properties-renderer>
            <property-chain-renderer *ngIf="subPropertyChainsColl" [pred-obj-list]="subPropertyChainsColl" [resource]="resource" 
                [rendering]="rendering" [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </property-chain-renderer>
            <subterms-renderer *ngIf="subtermsColl" [pred-obj-list]="subtermsColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </subterms-renderer>
            <domains-renderer *ngIf="domainsColl" [pred-obj-list]="domainsColl" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </domains-renderer>
            <ranges-renderer *ngIf="rangesColl" [pred-obj-list]="rangesColl" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </ranges-renderer>
            <property-facets-renderer *ngIf="inverseofColl && propertyFacets" [pred-obj-list]="inverseofColl" [facets]="propertyFacets"
                [resource]="resource" [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </property-facets-renderer>
            <datatype-definition-renderer *ngIf="datatypeDefinitionColl" [pred-obj-list]="datatypeDefinitionColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </datatype-definition-renderer>
            <lexicalizations-renderer *ngIf="lexicalizationsColl" [pred-obj-list]="lexicalizationsColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </lexicalizations-renderer>
            <lexical-forms-renderer *ngIf="lexicalFormsColl" [pred-obj-list]="lexicalFormsColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </lexical-forms-renderer>
            <lexical-senses-renderer *ngIf="lexicalSensesColl" [pred-obj-list]="lexicalSensesColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </lexical-senses-renderer>
            <denotations-renderer *ngIf="denotationsColl" [pred-obj-list]="denotationsColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </denotations-renderer>
            <evoked-lexical-concepts-renderer *ngIf="evokedLexicalConceptsColl" [pred-obj-list]="evokedLexicalConceptsColl" [resource]="resource"
                [rendering]="rendering" [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </evoked-lexical-concepts-renderer>
            <notes-renderer *ngIf="notesColl" [pred-obj-list]="notesColl" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </notes-renderer>
            <members-renderer *ngIf="membersColl" [pred-obj-list]="membersColl" [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </members-renderer>
            <members-ordered-renderer *ngIf="membersOrderedColl" [pred-obj-list]="membersOrderedColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </members-ordered-renderer>
            <label-relations-renderer *ngIf="labelRelationsColl" [pred-obj-list]="labelRelationsColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </label-relations-renderer>
            <form-representations-renderer *ngIf="formRepresentationsColl" [pred-obj-list]="formRepresentationsColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </form-representations-renderer>
            <form-based-preview-renderer *ngIf="formBasedPreviewColl" [pred-obj-list]="formBasedPreviewColl" [resource]="resource" 
                [rendering]="rendering" [readonly]="true" (dblclickObj)="objectDblClick($event)">
            </form-based-preview-renderer>
            <imports-renderer *ngIf="importsColl" [pred-obj-list]="importsColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </imports-renderer>
            <constituents-renderer *ngIf="constituentsColl" [pred-obj-list]="constituentsColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </constituents-renderer>
            <rdfs-members-renderer *ngIf="rdfsMembersColl" [pred-obj-list]="rdfsMembersColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </rdfs-members-renderer>
            <properties-renderer *ngIf="propertiesColl" [pred-obj-list]="propertiesColl" [resource]="resource" [rendering]="rendering"
                [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </properties-renderer>
        </ng-template>
    </div>
    <div class="panel-footer">
        <div *ngIf="resourcePosition" class="pull-right">
            <div class="dropup pull-right">
                <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" style="padding: 0px; border: none; background-color: transparent;">
                    <span [ngSwitch]="resource.getAdditionalProperty('accessMethod')">
                        Status:
                        <ng-template [ngSwitchCase]="'local'">
                            <span *ngIf="resourcePositionLocalProj" class="glyphicon glyphicon-saved"></span>
                            <span *ngIf="!resourcePositionLocalProj" class="glyphicon glyphicon-export"></span>
                        </ng-template>
                        <span *ngSwitchCase="'dereferenciation'" class="glyphicon glyphicon-save-file"></span>
                        <img *ngSwitchCase="'sparql'" src="../../assets/images/icons/res/ontology.png" style="width: 11px; margin-bottom: 3px;">
                        <img *ngSwitchCase="'sparql-degraded'" src="../../assets/images/icons/res/ontology.png" style="width: 11px; margin-bottom: 3px; opacity: .5;">
                    </span>
                    <span *ngIf="resourcePosition.isUnknown()" style="font-weight: 900; color: red;" title="Unknown position">!</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a style="cursor: initial; background-color: initial;">
                            <label>Access method:</label>
                            {{resource.getAdditionalProperty('accessMethod')}}
                        </a>
                        <a *ngIf="resourcePosition.isLocal()" style="cursor: initial; background-color: initial;">
                            <label *ngIf="resourcePositionLocalProj">Local Project: </label>
                            <label *ngIf="!resourcePositionLocalProj">Other local Project: </label>
                            {{resourcePositionDetails}}
                        </a>
                        <a *ngIf="resourcePosition.isRemote()" style="cursor: initial; background-color: initial;">
                            <label>Remote Dataset: </label>
                            {{resourcePositionDetails}}
                        </a>
                        <a *ngIf="resourcePosition.isUnknown()" style="cursor: initial; background-color: initial;">
                            <label>Remote Dataset: </label>
                            Unknown, <a (click)="discoverDataset()">discover</a>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div #blockDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>