<div class="hbox">

    <div #treePanel class="vbox" [ngStyle]="{ 'flex': treePanelFlex }">
        <tabset-panel (nodeSelected)="onNodeSelected($event)"></tabset-panel>
    </div>

    <ng-template [ngIf]="resViewPanelFlex > 0">
        <div class="sliderX" (mousedown)="onMousedown($event);"></div>
        <resource-view-panel #resViewPanel [ngStyle]="{ 'flex': resViewPanelFlex }" 
            (empty)="onResViewEmpty()" (tabSelect)="onTabSelected($event)"></resource-view-panel>
    </ng-template>

</div>