<div class="groupPanel">
    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
            <img src="../../../assets/images/icons/arrow.png" (click)="partitionCollapsed = !partitionCollapsed"
                [ngClass]="{'arrow-right': partitionCollapsed}">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{label}}:</label>
        </span>
        <span *ngIf="addBtnImgSrc" class="groupPanel-heading-content groupPanel-add-btn">
            <button class="resViewPartitionAddBtn" [title]="addBtnImgTitle" (click)="addHandler(null, 'default')" [disabled]="addDisabled">
                <img [src]="addBtnImgSrc"/>
            </button>
        </span>
        <span *ngIf="addManuallyAllowed || addExteranlResourceAllowed" class="groupPanel-heading-content groupPanel-dropdown-btn">
            <div class="btn-group" style="vertical-align: initial;">
                <button class="transparentBtn" style="width: 12px;" data-toggle="dropdown">
                    <span class="caret" style="margin: 0px;"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li *ngIf="addManuallyAllowed" [ngClass]="{ disabled: addDisabled }">
                        <a (click)="addHandler(null, 'manually')">Add value manually</a>
                    </li>
                    <li *ngIf="addExteranlResourceAllowed" [ngClass]="{ disabled: addDisabled }">
                        <a (click)="addHandler(null, 'remote')">Add value from another project</a>
                    </li>
                </ul>
            </div>
        </span>

    </div>

    <div class="groupPanel-body">
        <ng-template [ngIf]="!partitionCollapsed">
            <pred-obj-renderer *ngFor="let po of predicateObjectList" [pred-obj]="po" [resource]="resource" [readonly]="readonly"
                [rendering]="rendering" [partition]="partition" (dblclickObj)="objectDblClick($event)"
                (add)="addHandler(po.getPredicate(), $event)" (edit)="editHandler(po.getPredicate(), $event)" 
                (remove)="removeHandler(po.getPredicate(), $event)" (update)="onObjectUpdate()"
                (copyLocale)="copyLocaleHandler(po.getPredicate(), $event)" >
            </pred-obj-renderer>
        </ng-template>
    </div>
</div>