<div class="subPanel">
    
    <div class="subPanel-heading">
        <label style="flex: 1">{{predicateObjects.getPredicate().getShow()}}</label>
        <div class="btn-group">
            <button class="btn btn-xs btn-default predObjRenderPanelBtn" style="padding: 3px 6px;" (click)="addValue()"
                [title]="actionAddTitle" [disabled]="addDisabled">
                <span class="glyphicon glyphicon-plus" style="font-size: 9px;"></span>
            </button>
            <button class="btn btn-xs btn-default dropdown-toggle predObjRenderPanelBtn" style="padding: 3px;" data-toggle="dropdown"
                [disabled]="actionMenuDisabled">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li *ngIf="addManuallyAllowed" [ngClass]="{ disabled: addDisabled }">
                    <a (click)="addManually()">Add value manually</a>
                </li>
                <li *ngIf="addExteranlResourceAllowed" [ngClass]="{ disabled: addDisabled }">
                    <a (click)="addExternalValue()">Add value from another project</a>
                </li>
                <li [ngClass]="{ disabled: deleteDisabled }"><a (click)="removeAllValues()">Delete all values</a></li>
            </ul>
        </div>

    </div>
    
    <div class="subPanel-body">

        <ng-container *ngFor="let obj of predicateObjects.getObjects(); let i = index">
            <resview-value-renderer *ngIf="showObject(i)"
                [subject]="resource" [predicate]="predicateObjects.getPredicate()" [object]="obj" [rendering]="rendering" 
                [readonly]="readonly" [partition]="partition"
                (dblClick)="onDblClick(obj)" (delete)="removeValue(obj)" (edit)="onEdit(obj)" (update)="onUpdate()"
                (copyLocale)="onCopyLocale($event, obj)">
            </resview-value-renderer>
        </ng-container>

        <ng-container *ngIf="showAllButton()">
            <button class="btn btn-xs btn-default" style="width: 100%; color: #888; border-color: #ddd;" (click)="showAll()">
                Show all...
            </button>
        </ng-container>

    </div>

</div>